<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8" />
  <title>MLB 每日摘要索引</title>
</head>
<body>
  <h1>MLB 每日摘要索引</h1>
  <h2>每日報導清單</h2>
  <ul>
    {% for post in collections.post | reverse %}
    <li>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
  <p>© John, MLB Digest</p>
</body>
</html>

