<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
</head>
<body>
<p>
  {% if prev %}<a href="{{ '/posts/' + prev | url }}">← 前一日</a>{% endif %}
  <a href="{{ '/' | url }}">返回首頁</a>
  {% if next %}<a href="{{ '/posts/' + next | url }}">後一日 →</a>{% endif %}
</p>
  <h1>{{ title }}</h1>
  {{ content | safe }}

  <p>© John, MLB Digest</p>
</body>
</html>

